In [173]:
import pandas as pd
import numpy as np


# Update the path to the correct location of your CSV file
books = pd.read_csv('BX-Books.csv', sep=';',on_bad_lines='skip',  encoding='latin-1')
ratings = pd.read_csv('BX-Book-Ratings.csv',sep=';', on_bad_lines='skip', encoding='latin-1')
users = pd.read_csv('BX-Users.csv',sep=';', on_bad_lines='skip', encoding='latin-1')

books.head()

/tmp/ipykernel_35481/3441405623.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('BX-Books.csv', sep=';',on_bad_lines='skip',  encoding='latin-1')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [174]:
books.shape

(271360, 8)

In [175]:
# Renaming some columns for easier access
books.rename(columns={'ISBN': 'isbn', 
                      'Book-Title': 'title', 
                      'Book-Author': 'author', 
                      'Year-Of-Publication': 'year', 
                      'Publisher': 'publisher', 
                      'Image-URL-L': 'image_url'}, inplace=True)

books.drop(columns=['Image-URL-S', 'Image-URL-M'], inplace=True)

In [176]:
books.head()

,isbn,title,author,year,publisher,image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [177]:
users.rename(columns={'User-ID': 'user_id', 
                     'Location': 'location', 
                     'Age': 'age'}, inplace=True)

In [178]:
users.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [179]:
users.shape

(278858, 3)

In [180]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [181]:
ratings.rename(columns={
    'User-ID':'user_id',
    'ISBN':'isbn',
    'Book-Rating': 'ratings'
}, inplace=True)

In [182]:
ratings.head()

   user_id        isbn  ratings
0   276725  034545104X        0
1   276726  0155061224        5
2   276727  0446520802        0
3   276729  052165615X        3
4   276729  0521795028        6

In [183]:
ratings.shape

(1149780, 3)

In [184]:
print(books.shape, users.shape, ratings.shape, sep='\n')

(271360, 6)
(278858, 3)
(1149780, 3)

### Users reading multiple books

In [185]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
69281         1
69239         1
69241         1
69245         1
276733        1
Name: count, Length: 105283, dtype: int64

In [186]:
#Users reading multiple books beyound 200 books

x = ratings['user_id'].value_counts() > 200

x[x].shape

(899,)

In [187]:
y = x[x].index
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
        33145,  59727,  44296, 155916, 274808, 268622,  73681,  28634, 188951,
         9856],
      dtype='int64', name='user_id', length=899)

In [188]:
ratings = ratings[ratings['user_id'].isin(y)]

ratings.tail()

         user_id        isbn  ratings
1147612   275970  3829021860        0
1147613   275970  4770019572        0
1147614   275970   896086097        0
1147615   275970  9626340762        8
1147616   275970  9626344990        0

In [189]:
# Joining ratings with books and users
ratings_with_books = ratings.merge(books, on='isbn')

ratings_with_books.head(5)

,user_id,isbn,ratings,title,author,year,publisher,image_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...

In [190]:
#titles with multiple ratings
num_of_ratings = ratings_with_books.groupby('title')['ratings'].count().reset_index()

num_of_ratings.rename(columns={'ratings': 'num_of_ratings'}, inplace=True)

In [191]:
num_of_ratings.head()

                                               title  num_of_ratings
0   A Light in the Storm: The Civil War Diary of ...               2
1                              Always Have Popsicles               1
2               Apple Magic (The Collector's series)               1
3   Beyond IBM: Leadership Marketing and Finance ...               1
4   Clifford Visita El Hospital (Clifford El Gran...               1

In [192]:
final_ratings = ratings_with_books.merge(num_of_ratings, on='title')

final_ratings.head()

,user_id,isbn,ratings,title,author,year,publisher,image_url,num_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...,1
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...,13

In [193]:
# Books which have more than 50 ratings by users

final_ratings = final_ratings[final_ratings['num_of_ratings'] > 50]

final_ratings.head(5)

,user_id,isbn,ratings,title,author,year,publisher,image_url,num_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,133
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,108
18,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,108
24,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,79

In [194]:
# final_ratings.drop_duplicates(['user_id', 'title'], inplace=True)

# final_ratings.head()

In [195]:
final_ratings.isnull().sum()

user_id           0
isbn              0
ratings           0
title             0
author            0
year              0
publisher         0
image_url         0
num_of_ratings    0
dtype: int64

In [196]:
# Create pivotal table for user-item matrix
book_pivot = final_ratings.pivot_table(columns='user_id', index='title', values='ratings')

book_pivot.head()

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN

In [197]:
book_pivot.shape

(703, 888)

In [198]:
book_pivot.fillna(0, inplace=True)

book_pivot.head()

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [199]:
book_pivot.shape

(703, 888)

In [200]:
# Converting the pivot table into CSR metrix

#CSR matrix (Compressed Sparse Row matrix) is an efficient way to represent sparse 
# data (where most values are zero).


from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)
book_sparse

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 14787 stored elements and shape (703, 888)>

In [201]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [202]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [203]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [204]:
book_pivot.iloc[450,:]

user_id
254       0.0
2276      0.0
2766      0.0
2977      0.0
3363      0.0
         ...
275970    0.0
277427    0.0
277478    0.0
277639    0.0
278418    0.0
Name: Standoff, Length: 888, dtype: float64

In [205]:
distance, suggestion = model.kneighbors(book_pivot.iloc[355,:].values.reshape(1, -1), n_neighbors=6)

distance

array([[ 0.        , 24.8997992 , 26.25833201, 26.70674072, 27.09243437,
        27.65863337]])

In [206]:
suggestion

array([[355, 564, 507, 194, 173, 232]])

In [207]:
#Get the titles of the suggested books

for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['No Greater Love', 'The Long Road Home', 'The Cradle Will Fall',
       'Five Days in Paris', 'Exclusive', 'Heartbeat'],
      dtype='object', name='title')

In [208]:
# Saving the book names

book_names = book_pivot.index

book_names

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=703)

In [209]:
book_names[6]

'A Case of Need'

In [ ]:
# Get all suggested book names

book_name =[]
for book_id in suggestion:
    book_name.append(book_names[book_id])       

book_name

[Index(['No Greater Love', 'The Long Road Home', 'The Cradle Will Fall',
        'Five Days in Paris', 'Exclusive', 'Heartbeat'],
       dtype='object', name='title')]

In [215]:
# Exracting the image URL for the suggested books

ids_index = []

for name in book_name[0]:
    ids = np.where(final_ratings['title'] == name)[0][0]
    ids_index.append(ids)

ids_index

[np.int64(175),
 np.int64(414),
 np.int64(2358),
 np.int64(212),
 np.int64(786),
 np.int64(126)]

In [216]:
# With respect to the indexes, we can extract the image URLs from the final_ratings DataFrame
for idx in ids_index:
    url = final_ratings.iloc[idx]['image_url']
    print(url)

http://images.amazon.com/images/P/0385299095.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0440224837.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0440115450.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0440222842.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0446604232.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0440211891.01.LZZZZZZZ.jpg

In [221]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(book_names,open('artifacts/book_names.pkl','wb'))
pickle.dump(final_ratings,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl','wb'))

### Testing

In [222]:


def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [225]:

book_name = "You Belong To Me"
recommend_book(book_name)

You searched 'You Belong To Me'

The suggestion books are:

Exclusive
The Cradle Will Fall
Loves Music, Loves to Dance
While My Pretty One Sleeps
Before I Say Good-Bye